:root{
  --background-color: #2C3531;
  --secondary-color-normal: #21C1BD;
  --secondary-color-light: #D1F7F6;

  
  --nav-color: #28302d;
  --nav-text: #fff;


  --normal-text-color: #D1F7F6;
  --bolded-text-color: #21C1BD;
  --giant-text-color:  #FFFFFF;
  --highlight-color: #FFF2CC;

}