:root{
  --background-color: #F9F9F9;
  --secondary-color-normal: #21C1BD;
  --secondary-color-light: #D1F7F6;

  
  --nav-color: #fff;
  --nav-text: #000;

  --normal-text-color: #6A6666;
  --bolded-text-color: #21C1BD;
  --giant-text-color:  #062423;
  --highlight-color: #FFF2CC;

}