
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

/*---------------
Variables 
------------------*/
:root {
  --primary-color: #0396A5;
  --secondary-color: #F2F2F2;
  --nav-color: #fff;
  --block-color: #CCC;
  --text-primary-color: #000;
  --graph-text-color: #000;
}



/*---------------
Layout
------------------*/

.section {
  max-width: 75%;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin: 0;
}
body { 
  margin: 0;
}

#about-section {
  background-color: var(--secondary-color);
  height: 500px;
}

#project-section {
  background-color: var(--nav-color);
  height: 950px;
}

.projects-div {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  border: none;
}

.project-card:hover{
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 12px hsl(0deg 0% 0% / 0.3);
  text-decoration: none;
  filter: brightness(1.1);
  transform: scale(1.05);
}

img {
  width: 300px;
  margin-bottom: 0;
}

#img6:hover, #img7:hover, #img8:hover, #img9:hover  {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  filter: brightness(1.05);
}

.card-description {
  background: var(--nav-color);
  margin: 0 0;
  width: 300px;
  height: 85px;
}


.card-heading  {
  padding-top: 2px !important;
  padding-left: 5px !important;
  text-align: left;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.card-info{
  padding-left: 5px !important;
  text-align: left;
  filter: var(--text-primary-color);
  font-size: 1rem;
}


.card-tags{
  padding-left: 5px !important;
  text-align: left;
  color: var(--primary-color);
  font-size: 1rem;
 }
 

.card-heading:hover, .card-info:hover, .card-tags:hover{
  text-decoration:none;
}
 

  
#img5 {
  border-radius: 50%;
  margin-top: 10px;
}


html{
  width: 100%;
  margin: 0 auto;
}

.main-container{
  max-width: 100% !important;
  margin: 0 auto;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.containers {
  max-width: 100%;
  margin: 0 auto;
  padding: 0; 
  overflow: hidden;

}

.c1 {
  background-color: var(--secondary-color) ;
  height: 550px;
}
.c2 {
  background-color: var(--nav-color) ;
  height: 1050px;
}



.main2 {
  background-color: var(--secondary-color) ;
  height: 300px;
}
.main3 {
  background-color: var(--nav-color) ;
  height: 1000px;
}

.section2 {
  margin: 0 auto;
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2px;
  background-color: var(--secondary-color);
}

.section3 {
  margin: 0 auto;
  width: 75%;
  display: grid;
  grid-template-rows: 250px;
  background-color: var(--nav-color);
}

#col3{
  height: 300px;
  width:100%;
}

.container-fluid {
  background-color: var(--nav-color)
}


#col2 p {
  position: relative;
  top: 30px;
}


/*---------------
Waffle Viz
------------------*/
/*
@keyframes change-color{
  from {background-color: var(--block-color);}
  to {background-color: var(--primary-color);}
}

@keyframes reverse-color{
  from {background-color: var(--primary-color);}
  to {background-color: var(--block-color);}
}

.block:hover {
  animation-name: change-color ;
  animation-duration: 1s;
  animation-iteration-count:1;
}

.waffle {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.block {
  width: 20px;
  height: 20px;
  margin: 5px;
  animation-name: reverse-color;
  animation-duration: 4s;
  background-color: var(--block-color);

}
*/

/*---------------
Ease-in on page
------------------*/
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
        }

@keyframes fadeInAnimation {
   0% {
    opacity: 0;
  }
  100% {
     opacity: 1;
      }
}



/*---------------
Front Page Plot*
------------------*/

#svg {
  display: block;
  margin: auto;
}
#one, #two, #three, #four, #five, #six {
   fill: var(--primary-color);
}


@keyframes bar-anim {
    0% {height: 100%}
    50% {height: 1%}
    100% {height: 100%}
}


@keyframes bar-anim2 {
    0% {height: 90%}
    50% {height: 1%}
    100% {height: 90%}
}



@keyframes bar-anim3 {
    0% {height: 80%}
    50% {height: 1%}
    100% {height: 80%}
}


@keyframes bar-anim4 {
    0% {height: 70%}
    50% {height: 1%}
    100% {height: 70%}
}

@keyframes bar-anim5 {
    0% {height: 60%}
    50% {height: 1%}
    100% {height: 60%}
}


@keyframes bar-anim6 {
    0% {height: 50%}
    50% {height: 1%}
    100% {height: 50%}
}


#one {
    animation-name: bar-anim;
    animation-duration: 2s; 
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
}

#two {
    animation-name: bar-anim2;
    animation-duration: 2s; 
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

#three {
    animation-name: bar-anim3;
    animation-duration: 2s; 
    animation-delay: 0.75s;
    animation-iteration-count: infinite;
}

#four {
    animation-name: bar-anim4;
    animation-duration: 2s; 
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#five {
    animation-name: bar-anim5;
    animation-duration: 2s; 
    animation-delay: 1.25s;
    animation-iteration-count: infinite;
}

#six {
    animation-name: bar-anim6;
    animation-duration: 2s; 
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}




/*---------------
Old Skill Plot*


.main-svg {
    background: none ;
}


.js-plotly-plot .plotly .main-svg {
  background:  transparent !important;
}



.xtick text {
  fill: var(--graph-text-color) !important}
  
.g-gtitle text {
  fill: var(--graph-text-color) !important;
  
} 
.ytick text {
  fill: var(--graph-text-color) !important; 
  
}
------------------*/

/*---------------
New Skill Plot*
------------------*/


.highcharts-legend-item text, .highcharts-title {
    fill: var(--graph-text-color) !important;
}


/*---------------
Typography
------------------*/

a, a:hover{
  text-decoration: none;
}

.download-link {
  font-size: 2rem;
}

.download-link, .download-link:hover, .download-link:focus, .download-link:active, 
.datacamp-link, .datacamp-link:hover, .datacamp-link:focus, .datacamp-link:active {
  color: var(--primary-color);
}

.download-link:hover, .datacamp-link:hover {
  text-decoration: underline;
}

#col4 p {
  text-align: center;
}

* {
  font-family: 'Libre Baskerville','Baskervville', 'Cambria', serif;
  color: var(--text-primary-color);
}

h2 {
  padding-top: 20px !important;
}

.text {
  text-align: center;
}

.text {
  font-weight: 700;
  z-index: 5;
}



form {
  margin: 0 40%;
  position: relative;
}

.footer-container h2 {
  padding-top: 15px;
}

.footer-text {
  text-align: center;
}

/*---------------
Navigation
------------------*/


.nav-container {
  background-color: var(--nav-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  margin: 0 auto;


}

nav {
    padding: 1.5em 0;
    background-color: var(--nav-color);
    max-width: 75%;
    margin: 0 auto
}

nav ul {
    list-style: none;
    display:flex;
    justify-content:space-between;
    padding: 0;
}

.nav-item {
    margin: 0 1em;
    padding: 5px 8px;
  
    
}

nav a{
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: 700;
    font-size: 2rem;

}

nav a:hover{
      text-decoration: none;
      color: var(--primary-color);


}

.nav-me a {
    font-size: 2rem;
    color: var(--primary-color);
}

.nav-other::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}


.nav-other:hover::after {
  transform: scaleX(1);
}



/*---------------
Footer
------------------*/


.footer-container {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 45%;

}



.footer{
  max-width: 75%;
  margin: 0 auto;
  background-color: var(--primary-color);}



.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    padding: 8px;
  
}

.social2 {
  background-color: #333;
    border-radius: 60px;
    color: #fff;
    display: inline-block;
    height: 60px;
    margin: auto 6px;
    width: 60px;
    font-size: 30px;
    text-align: center;
    padding: 16px;
}


.social:hover{
    background-color: var(--secondary-color);
}

.social2:hover{
    background-color: var(--primary-color);
}


/*---------------
Styles 
------------------*/


.learn{
  color: var(--primary-color);
  background-color: #fff;
  border: solid 2px var(--primary-color);
  border-radius: 5%;
}


.learn:hover {
  transition: all 0.25s ease-in-out;
  color: #fff;
  background-color: var(--primary-color);
  border: 3px solid #fff;
  
}

.tag-button {
  color:  #fff;
  background-color: var(--primary-color);
  margin: 0 2px;
  border: solid 1px  #fff;
  border-radius: 5%;
  width:100%;


}

.tag-button:hover {
    color: var(--primary-color);
    background-color: #fff;
    border: solid 1px  var(--primary-color);
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.tags form {
  margin: 0;
}

#gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  margin-top: 10px;
}

.gallery-pic p {
  text-align: center;
}

@keyframes pointing{
  from {top: 0px}
  to {top: 4px}
}


.arrow {
  position: relative;
  font-size: 5rem;
  text-align: center;
  color: var(--primary-color);
  animation-name:pointing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
}


/*---------------
Themes 
------------------*/



.theme-bar{
  height: 90px;
  display: flex;
  margin-top: 80px;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;

}

.theme-holder{
  display: flex;
  justify-content: center;
  padding: 8px 5px;
}

.theme-text {
  padding: 11px 5px;
  margin: 0 0;
}

.theme {
  background-color: #000 ;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 3px;
  border: solid 1px #fff;
}


.light {
  background-color: #0396A5 ;
}

.salmon {
  background-color: #F4976C;
}



.sea {
  background-color: #52AB98;

  
}

.dark{
  background-color: #116466 ;

  
}

.theme:hover {
  transform: scale(1.5);
  transition: all 1s ease-in-out;
  cursor: pointer;
}


/*---------------
Media Queries 
------------------*/
@media (max-width: 672px) {
    nav a, .nav-me a {
     font-size: 1.15rem;
    }
    .waffle {
      overflow: hidden;
    }
    
    #gallery-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .tags {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .tags form {
      margin: auto;
    }
    
    
    .social2 {
      border-radius: 30px;
      height: 30px;
      margin: auto 3px;
      width: 30px;
      font-size: 15px;
      text-align: center;
      padding: 8px;
    }

    .tag-button {
      width: 200px;
      margin: 0 auto;}
    
    .xtick text{
     font-size: 5px !important;
    }
    
    .g-gtitle text {
      font-size: 10px !important;
      font-weight: bold !important;;
    }
    .arrow {
      opacity: 0;
    }
    
    .section3 {
      display: block;
    }
    #col3 {
      margin: 0 auto;
    }
    
    nav ul {
      justify-content: center;
    }
    
    .projects-div {
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .projects-div a {
      max-width: 300px;
      margin: 0 auto;
    }
    
    #project-section {
      height: 1350px;
    }
    
    .c2 {
     height: 1600px; 
    }
    .section2 {
      grid-template-columns: none;
      grid-template-rows: 1fr;
    }
    #col1 p {
      text-align: center;
    }
    #img5 {
      width: 150px;
    }
    #col2 p {
      top: 0px;
      font-size: 1rem;
      margin: 0 0 1px;
    }
    
    .block {
      width: 25px;
      height: 25px;
      margin: 5px;}
      
    .text {
      bottom: 45%;
    }
}
